.home_menu_category {
    background-color: #E6E6E6;
    color: black;
    border: none;
    width: 200px;
    height: 50px;
    font-size: 20px;
    border-radius: 30px;
}

.home_menu_category:hover {
    background-color: #E0B531;
    color: white;
}



.menu_slider_container {
    width: 80%;
    
}

.home_menu_list > div {
    margin-bottom: 50px;
}

.home_menu_list h4 {
    margin-top: 10px;
}