.header{
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}
.myInput{
    padding: 10px 20px;
    display: block;
    border: 2px solid rgb(170, 170, 170);
    border-radius: 50px;
    background-color: white;
    text-align: left;
}

.changeps{
    color: #E0B531;
    font-size: small;
    margin-left: 0.5vw;
}

.changeps:hover{
    color: #E0B531;
    cursor: pointer;
}