
@media only screen and (max-width: 768px){
    .form-box-margin{
        margin: 0 5%;
    }
    .form-margin{
        margin-left: 0%;
    }
}

@media only screen and (min-width: 768px){
    .form-box-margin{
        margin-left: 10%;
    }
    .form-margin{
        margin-left: 10%;
    }
}

@media only screen and (min-width: 992px){
    .form-box-margin{
        margin-left: 15%;
    }
    .form-margin{
        margin-left: 15%;
    }
}

.header{
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}

.myInput{
    padding: 10px 20px;
    display: block;
    border: 2px solid rgb(170, 170, 170);
    border-radius: 50px;
    background-color: white;
    text-align: left;
    width: 100%;
}

.gray{
    color:rgb(148, 148, 148)
}

.changeps{
    color: #E0B531;
    font-size: small;
    margin-left: 0.5vw;
}

.changeps:hover{
    color: #E0B531;
    cursor: pointer;
}


.updatebtn{
    border-radius: 50px;
    border-style: none;
    border-color: #b38f25;
    border-style: solid;
    padding: 5px 40px;
    background-color: #E0B531;
    color: white;
    font-size:x-large;
    font-weight: bold;
}